.main{
    background: #101010;
    width: 100%;    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.Header{
width: 400px;
height: 100vh;
display: grid;
grid-template-columns: 33% 33% 33%;
grid-template-rows: 25% 25% 25% 25%;
grid-template-areas: 
". l ."
"b . ."
"f . ."
"y c2 c1"
;
}
.List{
    margin-left: 10px;
    margin-top: 80px;
    grid-area: l;
    color: #8EFF8B;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Btn{
    margin-top: -50px;
    background-color: #CBFFDA;;
    grid-area: b;
    width: 345px;
    height: 42px;
    transform: translateX(8%);
    border-radius: 6px;
    color: #302F2F;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 3;
}
.Btn:hover{
    background-color: #a1f9ba;;
}
.foto{
    grid-area: f;
    margin-bottom: 150px;
    margin-left: 128px;



    visibility: hidden;
}
.you{



    visibility: hidden;



    margin-left: 55px;
    grid-area: y;
    width: 307px;
    color: #AFAEAE;
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.circle1{
    position: absolute;
    width: 100px; /* Puedes ajustar el tamaño según tus necesidades */
    height: 100px; /* Asegúrate de que el ancho y el alto sean iguales */
    border-radius: 50%;
    left: 50px;
    bottom: 50px;
    border-radius: 527px;
    opacity: 0.42;
    filter: blur(150px);
    background-color: rgba(8,44,42,255);
    box-shadow: #CE9BFF -25px 14px 5px 200px;
}
.circle2{
    position: absolute;
    filter: blur(150px);
    background-color: rgba(8,44,42,255);
    box-shadow: #8EFF8B -25px 14px 5px 150px;
    width: 100px; /* Puedes ajustar el tamaño según tus necesidades */
    height: 100px; /* Asegúrate de que el ancho y el alto sean iguales */
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
}
